<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Product Id="*" Name="CoApp Installer" Language="1033" Manufacturer="Outercurve Foundation (CoApp Project)" Version="1.0.6.13" >
		<Package InstallerVersion="200" Compressed="yes" InstallPrivileges="elevated" /> <!--  InstallPrivileges="limited"  is to tell Installer not to elevate to install this (the bootstrapper will elevate) -->

		<Media Id="1" Cabinet="media1.cab" EmbedCab="yes" />
        
        <!-- CoApp Packages must be allusers, not per-user -->
        <Property Id="ALLUSERS" Value="1" />
        
		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="ProgramFilesFolder">
				<Directory Id="INSTALLLOCATION" Name="Install_CoAppInstaller">
					<Component Id="coappinstaller_component" Guid="8ecacbb9-4ff0-90a8-7f02-1f5078071df0"> 
                        <File Id="coapp_installer"          Name="coapp.installer.exe"      Source="coapp.installer.exe"    Vital="yes" AssemblyManifest="coappinstaller_manifest" Assembly="win32" KeyPath="yes" />
                        <File Id="coappinstaller_manifest"     Name="coapp.installer.manifest"    Source="coapp.installer.manifest"  Vital="yes" />
                        <File Id="coappinstaller_catalog"      Name="coapp.installer.cat"         Source="coapp.installer.cat"       Vital="yes" />
                    </Component>
                    
					<Component Id="coappinstaller_policy_component" Guid="973ad4bf-e095-fc2d-ab3f-59be6aee88e1"> 
                        <File Id="coappinstaller_policy_manifest"    Name="policy.1.0.coapp.installer.manifest"    Source="policy.1.0.coapp.installer.manifest"  Vital="yes" AssemblyManifest="coappinstaller_policy_manifest" Assembly="win32" KeyPath="yes" />
                        <File Id="coappinstaller_policy_catalog"     Name="policy.1.0.coapp.installer.cat"         Source="policy.1.0.coapp.installer.cat"       Vital="yes" />                        
                    </Component>
                </Directory>
            </Directory>
		</Directory>
        
		<Feature Id="ProductFeature" Title="Install_CoAppInstallerFeature" Level="1">
			<ComponentRef Id="coappinstaller_component" /> 
            <ComponentRef Id="coappinstaller_policy_component" /> 
		</Feature>
	</Product>
</Wix>



































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































